<div class="box">
    <div class="panel">
        <div class="diagram">
            <div class="circle solar-circle">
                <img class="icon" src="../../assets/images/panel-solar.svg">
                <span>{{solarPanelProduction}} W</span>
            </div>
            <div class="circle network-circle">
                <img class="icon" src="../../assets/images/flash-outline.svg">
                <span>{{networkProduction}} W</span>
            </div>
            <div class="circle battery-circle">
                <img class="icon" src="../../assets/images/battery-load.svg">
                <span>{{batteryProduction}} W</span>
            </div>
            <div class="circle house-circle">
                <img class="icon" src="../../assets/images/home-outline.svg">
                <span>{{houseConsumption}} W</span>
            </div>
        </div>

    </div>
</div>